{% extends 'parking_management/home.html' %}

{% block title %}Parking{% endblock %}

{% block content %}
<div style="margin: 10px;">
  <h1>Details</h1>
    <ul>
      <li>User : {{ mine }}</li>
      <li>Level : {{ Level }}</li>
      <li>Category : {{ Type }}</li>
      <li>Vehicle Number : {{ VehicleNumber }}</li>
      <li>Lot : {{ Lot }}</li>
      <li>Intime : {{ Intime }}</li>
      <li>Outtime : {{ Outtime }}</li>
      <li>Fee : {{ Fee }}</li>
      <hr />
    </ul>
    <p>Thank You</p>
</div>
{% endblock %}


<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Data List</title>
  </head>
  <body>
    
    <h1>Data List</h1>
    <ul>
      <li>User : {{ mine }}</li>
      <li>Level : {{ Level }}</li>
      <li>Category : {{ Type }}</li>
      <li>Vehicle Number : {{ VehicleNumber }}</li>
      <li>Lot : {{ Lot }}</li>
      <li>Intime : {{ Intime }}</li>
      <li>Outtime : {{ Outtime }}</li>
      <li>Fee : {{ Fee }}</li>
      <hr />
    </ul>
    <p>Booking Added, Thank You</p>
    <p><a href="/">Home</a></p>
  </body>
</html> -->